<div class="pull-xs-right">
      <button
            class="btn btn-sm"
            [ngClass]="isFavoriteProps ? 'btn-primary' : 'btn-outline-primary'"
            (click)="likeOrDislike()"
            [disabled]="
                  (isLoading$ | async) && (disabledSlug$ | async) === slugProps
            "
            ><i class="ion-heart"></i>
            {{ isLoading$ | async }}
            {{ (disabledSlug$ | async) === slugProps }}
            {{ textProps }}
            {{ favoritesCountProps }}
      </button>
</div>
