<div class="sidebar"
      ><p>Popular Tags</p
      ><div class="tag-list"
            ><a class="tag-default tag-pill"> implementations </a
            ><a class="tag-default tag-pill"> welcome </a
            ><a class="tag-default tag-pill"> introduction </a
            ><a class="tag-default tag-pill"> codebaseShow </a
            ><a class="tag-default tag-pill"> ipsum </a
            ><a class="tag-default tag-pill"> qui </a
            ><a class="tag-default tag-pill"> et </a
            ><a class="tag-default tag-pill"> quia </a
            ><a class="tag-default tag-pill"> cupiditate </a
            ><a class="tag-default tag-pill"> deserunt </a></div
      ><div hidden=""> Loading tags... </div
      ><div hidden=""> No tags are here... yet. </div></div
>
