<div class="profile-page">
      <ng-container *ngIf="!(isLoading$ | async); else loading">
            <ng-container *ngIf="!(error$ | async); else loading">
                  <div class="user-info" *ngIf="userProfile"
                        ><div class="container"
                              ><div class="row"
                                    ><div
                                          class="col-xs-12 col-md-10 offset-md-1"
                                          ><img
                                                class="user-img"
                                                [src]="userProfile.image"
                                                alt="profile image" />
                                          <h4>{{ userProfile.username }}</h4
                                          ><p></p
                                          ><div
                                                ><button
                                                      *ngIf="
                                                            !(
                                                                  isCurrentUserProfile$
                                                                  | async
                                                            )
                                                      "
                                                      class="btn btn-sm action-btn btn-secondary"
                                                      ><i
                                                            class="ion-plus-round"></i>
                                                      &nbsp; Unfollow
                                                      {{ userProfile.username }}
                                                </button></div
                                          ><a
                                                *ngIf="
                                                      isCurrentUserProfile$
                                                            | async
                                                "
                                                class="btn btn-sm btn-outline-secondary action-btn"
                                                [routerLink]="['/settings']"
                                                ><i class="ion-gear-a"></i> Edit
                                                Profile Settings
                                          </a></div
                                    ></div
                              ></div
                        ></div
                  >
            </ng-container>
            <ng-template #error>
                  <mc-error-message
                        [message]="error$ | async"></mc-error-message>
            </ng-template>
      </ng-container>
      <ng-template #loading>
            <mc-loading></mc-loading>
      </ng-template>

      <div class="container"
            ><div class="row"
                  ><div class="col-xs-12 col-md-10 offset-md-1"
                        ><div class="articles-toggle"
                              ><ul class="nav nav-pills outline-active"
                                    ><li class="nav-item"
                                          ><a
                                                class="nav-link"
                                                [routerLinkActive]="'active'"
                                                [routerLinkActiveOptions]="{
                                                      exact: true
                                                }"
                                                [routerLink]="[
                                                      '/profiles',
                                                      userProfile?.username
                                                ]">
                                                My Posts
                                          </a></li
                                    ><li class="nav-item"
                                          ><a
                                                class="nav-link"
                                                [routerLinkActive]="'active'"
                                                [routerLink]="[
                                                      '/profiles',
                                                      userProfile?.username,
                                                      'favorites'
                                                ]">
                                                Favorited Posts
                                          </a></li
                                    ></ul
                              ></div
                        >
                        <mc-feed [apiUrl]="apiUrl"></mc-feed>
                        <!--        <router-outlet></router-outlet-->
                        <!--                        ><div-->
                        <!--                              ><div-->
                        <!--                                    ><div class="app-article-preview" hidden="">-->
                        <!--                                          Loading articles... </div-->
                        <!--                                    ><div class="app-article-preview">-->
                        <!--                                          No articles are here... yet. </div-->
                        <!--                                    ><nav hidden=""-->
                        <!--                                          ><ul-->
                        <!--                                                class="pagination"></ul></nav></div></div>-->
                  </div></div
            ></div
      ></div
>
