<div class="home-page">
      <mc-banner></mc-banner>

      <div class="container page"
            ><div class="row"
                  ><div class="col-md-9"
                        ><div class="feed-toggle"
                              ><ul class="nav nav-pills outline-active"
                                    ><li class="nav-item"
                                          ><a class="nav-link">
                                                Your Feed
                                          </a></li
                                    ><li class="nav-item"
                                          ><a class="nav-link active">
                                                Global Feed
                                          </a></li
                                    ><li class="nav-item" hidden=""
                                          ><a class="nav-link active"
                                                ><i
                                                      class="ion-pound"></i> </a></li></ul
                        ></div>
                        <mc-feed [apiUrl]="url"></mc-feed>
                  </div>
                  <div class="col-md-3">
                        <mc-popular-tags></mc-popular-tags>
                  </div>
                  <!--        <div class="col-md-3"-->
                  <!--                        ><div class="sidebar"-->
                  <!--                              ><p>Popular Tags</p-->
                  <!--                              ><div class="tag-list"-->
                  <!--                                    ><a class="tag-default tag-pill">-->
                  <!--                                          implementations </a-->
                  <!--                                    ><a class="tag-default tag-pill">-->
                  <!--                                          welcome </a-->
                  <!--                                    ><a class="tag-default tag-pill">-->
                  <!--                                          introduction </a-->
                  <!--                                    ><a class="tag-default tag-pill">-->
                  <!--                                          codebaseShow </a-->
                  <!--                                    ><a class="tag-default tag-pill"> ipsum </a-->
                  <!--                                    ><a class="tag-default tag-pill"> qui </a-->
                  <!--                                    ><a class="tag-default tag-pill"> et </a-->
                  <!--                                    ><a class="tag-default tag-pill"> quia </a-->
                  <!--                                    ><a class="tag-default tag-pill">-->
                  <!--                                          cupiditate </a-->
                  <!--                                    ><a class="tag-default tag-pill">-->
                  <!--                                          deserunt-->
                  <!--                                    </a></div-->
                  <!--                              ><div hidden=""> Loading tags... </div-->
                  <!--                              ><div hidden="">-->
                  <!--                                    No tags are here... yet.-->
                  <!--                              </div></div-->
                  <!--                        ></div-->
                  <!--                  >-->
            </div></div
      ></div
>
