<ng-container *ngIf="!(isLoading$ | async); else loading">
      <button class="btn btn-sm action-btn btn-secondary" (click)="follow()"
            ><span *ngIf="isFollowedProps"
                  ><i class="ion-minus-round"></i> &nbsp; Unfollow</span
            >
            <span *ngIf="!isFollowedProps"
                  ><i class="ion-plus-round"></i> &nbsp; Follow</span
            >

            {{ nameProps }}
      </button>
</ng-container>
<ng-template #loading>
      <mc-loading></mc-loading>
</ng-template>
