<div class="home-page">
      <mc-banner></mc-banner>

      <div class="container page"
            ><div class="row"
                  ><div class="col-md-9">
                        <mc-feed-toggle
                              [tagName]="'bla-bla-test-tag'"></mc-feed-toggle>
                        <mc-feed [apiUrl]="url"></mc-feed>
                  </div>
                  <div class="col-md-3">
                        <router-outlet></router-outlet>
                  </div> </div></div
></div>
