<ng-container *ngIf="isLoading$ | async; else isLoading">
      <ng-container *ngIf="!(error$ | async); else error">
            <ng-container *ngIf="feedArticles$ | async as articles">
                  <div class="article-preview" *ngFor="let article of articles">
                        <div>
                              <div class="article-meta"
                                    ><a
                                          [routerLink]="[
                                                '/profile',
                                                article.author.username
                                          ]"
                                          ><img
                                                [src]="article.author.image"
                                                alt="image"
                                    /></a>
                                    <div class="info"
                                          ><a
                                                class="author"
                                                [routerLink]="[
                                                      '/profile',
                                                      article.author.username
                                                ]">
                                                {{ article.author.username }}</a
                                          ><span class="date">
                                                {{ article.updatedAt | date }}
                                          </span></div
                                    >
                                    <div class="pull-xs-right">
                                          <button
                                                class="btn btn-sm btn-outline-primary"
                                                ><i class="ion-heart"></i>
                                                {{
                                                      article.favoritesCount
                                                }}</button
                                          >
                                    </div>
                              </div>
                        </div>
                        <a
                              class="preview-link"
                              [routerLink]="['/article', article.slug]"
                              ><h1>{{ article.title }}</h1>
                              <p>{{ article.description }}</p
                              ><span>Read more...</span>
                              <ul
                                    class="tag-list"
                                    *ngFor="let tag of article.tagList">
                                    <li
                                          class="tag-default tag-pill tag-outline">
                                          {{ tag }}</li
                                    >
                              </ul>
                        </a></div
                  >

                  <ul
                        class="pagination"
                        *ngFor="let count of [1, 2, 3, 4, 5, 6, 7, 8, 9]"
                        ><li class="page-item"
                              ><a class="page-link">{{ count }}</a></li
                        ></ul
                  >
            </ng-container>
      </ng-container>

      <ng-template #error>
            <mc-error-message [message]="error$ | async"></mc-error-message>
      </ng-template>
</ng-container>

<ng-template #isLoading>
      <mc-loading></mc-loading>
</ng-template>
